
.container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: white;
}


.actions a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.actions a i {
    font-size: 24px;
}


.orders-link {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
}


p, h1 {
    text-align: center;
}